<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HackGT</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
{{{body}}}
<script src="/js/jquery.min.js"></script>
<script src ="/js/bootstrap.min.js"></script>
<script>
    $('#login').on('click',event=>
    {+
        event.preventDefault()
        $.ajax({
            method:'POST',
            url:'/',
            success:event=>
            {
                console.log("Successfully changing pages");
                window.location.href ="/login"
            }

        })
    });
    $('#category').on('change',event=>
    {
        event.preventDefault();
      let value = $('#category option:selected').text();
         /* $.ajax({
              url:`/item/${value}`,
              method:'POST',
              dataType:'String',
              data:{
                food:value
              },
              success:results=>
              {
                  console.log("Successfully posted to server")
              }

          })*/
         window.location.replace(`/item/${value}`)
      });

</script>
</body>
</html>