<div class="well margin-total" id="header">
    <div class="row">
 <img src="https://img.freepik.com/free-icon/restaurant_318-108263.jpg?size=338c&ext=jpg" id="header-photo">
<h1 id="header-text">Inflight Service Orders</h1>
<div class="row" id="user-login">
    <button class="btn btn-primary" type="submit" role="button" id="login">Flight Attendant Login</button>
      </div>
  </div>
  </div>





