<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<head>
  <meta charset="UTF-8">
  <title>HACKGT</title>
  
  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <!DOCTYPE html>
<html lang="en">
  <title>SouthWest Airlines User Response</title>
  <div class="well margin-total" id="header">
    <div class="row">
 <img src="https://img.freepik.com/free-icon/restaurant_318-108263.jpg?size=338c&ext=jpg" id="header-photo">
<h1 id="header-text">Inflight Service Orders</h1>
<div class="row" id="user-login">
  <button type="primary" class="btn btn-primary">
    <p>Flight Attendent Login</p>
      </div>
  </div>
  </div>
</html>
  
  

</body>

</html>