<<<<<<< HEAD
<html lang="en">
<style>
    background {
        background-color: #2e6bf1;
    }
    .margin-total {
        margin: 50px 70px 50px 70px;
    }
    #modal-img{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        height: 90%;
        width: 90%;
    }
    input {
        text-align:center;
    }
    .input-label{
        padding-top: 1em;
    }
    header {
        color:#2e6bf1;
        text-align: left;
        padding-bottom:2px;}
    header-photo {
        display: block;
        position:relative;
        float:left;
        width: 8%;
        height: 8%;
        padding: 2em;
    }
    user-login{
        display:inline;
        position:relative;
        padding-right: 20px;
        float:right;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Page</title>
    <link rel="stylesheet" href="styles/login_page.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="well margin-total text-center">
    <div class="w3-container w3-teal">
        <h2>InFlight Service Order</h2>
    </div>

    <form class="w3-container">

            <label class="input-label">Seat Number</label></p>
            <input class="w3-input" type="text">

            <label class="input-label">Last Name</label></p>
            <input class="w3-input" type="text">
        <label class="input-label">Category</label>
        <select class="w3-select" name="Menu Category">
            <option value="" disabled selected>Food Category</option>
            <option value="Meal">Meal</option>
            <option value="Drinks">Drinks</option>
            <option value="Snacks">Snacks</option>
        </select>

        <p><button type="button" class="w3-btn w3-teal" data-toggle="modal" data-target="#thanks">Order</button></p>
    </form>
</div>
</div>
<!--Modal Overlay-->
<div class="modal fade" id="thanks" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img id="modal-img"src="resources/thanks.PNG">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>
=======
{{!-- <div class="well margin-total text-center">
    <div class="w3-container w3-teal">
        <h2>Input Form</h2>
    </div>

    <form class="w3-container">
        <p>
            <input class="w3-input" type="text">
            <label>Seat Number</label></p>

        <p>
            <input class="w3-input" type="text">
            <label>Last Name</label></p>

        <select class="w3-select" name="Menu Category">
            <option value="" disabled selected>Food Category</option>
            <option value="Meal">Meal</option>
            <option value="Drinks">Drinks</option>
            <option value="Snacks">Snacks</option>
        </select>

        <p><button class="w3-btn w3-teal">Order</button></p>

    </form>
</div>
</div> --}}

  
<div class="margin-total" id="header">
  <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <div id="header-photo">
    <img src="https://img.freepik.com/free-icon/restaurant_318-108263.jpg?size=338c&ext=jpg" width="30" height="30" class="align-top" alt="">
    <img src="http://worldartsme.com/images/black-line-airplane-clipart-1.jpg" width="30" height="30">
    </div>
    <h1 id="header-text">InFlight Service Orders</h1>
  </a>
</nav>
    <div id="user-login">
      <button class="btn btn-primary" type="submit" role="button" id="login">Flight Attendant Login</button>
    </div>
  </div>
  

    <div class="well margin-total text-center">
      <div class="w3-container w3-teal">
        <h2>Enter Requests Below </h2>
      </div>

      <form class="w3-container" method="post" action="/">
        <p>
          <input class="w3-input" type="text" value={{seat_number}}>
          <label>Seat Number</label></p>

        <p>
          <input class="w3-input" type="text" value={{last_name}}>
          <label>Last Name</label></p>

        <select class="w3-select" name="Menu Category">
    <option value="" disabled selected>Food Category</option>
    <option value="Meal">Meal</option>
    <option value="Drinks">Drinks</option>
    <option value="Snacks">Snacks</option>
  </select>

        <button type="submit" class="w3-btn w3-teal" data-toggle="modal" data-target="#thanks">Order</button>
      </form>
    </div>
</div>
<!--Modal Overlay-->
<div class="modal fade" id="thanks" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <img id="modal-img" src="https://raw.githubusercontent.com/roger-n/hackgt5/Yuntao/Capture.PNG" alt="Thank You">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
>>>>>>> e26a50dc36335fad5fcb479e20ceb8d1eca79b3c
