<link rel="stylesheet" href="..public/css/login.css">
<h2>Flight Attendent Sign-In</h2>
<div class="well container" id="shrink">
<form method="get" action="/">
    <div class="cred-div">
        <label>Username:</label>
        <input type="text"><br>
    </div>
    <div class="cred-div">
        <label>Password:</label>
        <input type="password"><br>
    </div>
    <input type="submit">

</form>
</div>
