<h2>Flight Attendent Sign-In</h2>
<div class="well container" id="shrink">
<form method="post" action="/login">
    <div class="cred-div">
        <label>Username:</label>
        <input type="text" name="Username" value={{user_name}}><br>
    </div>
    <div class="cred-div">
        <label>Password:</label>
        <input type="password" name="Password" value={{user_pass}}><br>
    </div>
    <input type="submit">

</form>
</div>
