<link rel="stylesheet" href="..public/css/login.css">
<h2>Flight Attendent Sign-In</h2>
<div class="well container" id="shrink">
<form method="get" action="/">
    <input type="text" value =Username:><br>
    <input type="password" value=Password:><br>
    <input type="submit">
</form>
</div>
