

.margin-total {
 margin: 50px 70px 50px 70px;
}

.info-label {
    padding-top: 0.5em;
}

.w3-input {
    background-color: #D3D3D3;
    text-align: center;
}

.w3-select {
    text-align: center;
}

.user-entry {
    padding: 1em;
}

.navbar-brand {
    float: left;
}

#header-photo {
    padding-right: 1em;
    padding-top: 1em;
}

#header-text {
    padding-left: 2em;
}

#modal-img {
    height: 100%;
    width: 100%;
}