#background {
    background-color: #2e6bf1;
    }
    
    .margin-total {
     margin: 50px 70px 50px 70px;
    }
    
    #modal-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 90%;
    }
    
    input { 
        text-align:center; 
    }